<main class ="contenedor contenedor-formularios">
	<h1><%= nombrePagina %></h1>
	<form  method="POST" class="default-form">
		<label class="campo">Coloca tu Nuevo Password</label>
		<div class="campo">
			<label>Password</label>
			<input type="password" name="password" placeholder="Nuevo Password">
		</div>
		<div class="campo enviar">
			<input type="submit" class="btn btn-rosa" value="Reestablecer Password">
		</div>
				
	</form>
</main>