<h1 style="
	text-align: center;
	font-family: Arial, Helvetica;
">Reestablecer Password</h1>

<p style="font-family: Arial, Helvetica;">Hola, has solicitado reestablecer tu password, haz clic en el siguiente enlace para reestablecerlo, este enlace es temporal, asi que si se vence vuelve a solicitarlo</p>

<a style="
	display: block;
	font-family: Arial, Helvetica;
	padding: 1rem;
	background-color: #00c897;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none; 	
" href="<%= url %>"> Ir a Resetear tu Password</a>

<p style="font-family: Arial, Helvetica;">Sino puedes acceder a este enlace, visita : <%= url %></p>

<p style="font-family: Arial, Helvetica;">Si no solicitaste este E-mail puedes ignorarlo</p>